<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_fN97PcCaWvW02J4jmssCP9UrUMTGUjY</string>
	<key>GCM_SENDER_ID</key>
	<string>552257291650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleAuthentication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>authentication-d8995</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-d8995.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552257291650:ios:f45a87dafeb71b61243b9b</string>
</dict>
</plist>